<!-- <div>
  Selecione uma classe:
  <select #classe (change)="0">
    <option value="alert-primary">Alerta</option>
    <option value="alert-secondary">Info</option>
    <option value="alert-success">Sucesso</option>
    <option value="alert-danger">Erro</option>
  </select>
</div>

<hr>

<div class="alert {{ classe.value }}" role="alert">Aqui vai ficar colorido conforme a caixa selecionada</div>


<div class="alert" role="alert" [class.alert-primary]="classe.value == 'alert-primary'">
  Alerta</div>

<div class="alert" role="alert" [class.alert-secondary]="classe.value == 'alert-secondary'">
  Info</div>

<div class="alert" role="alert" [class.alert-success]="classe.value == 'alert-success'">
  Sucesso</div>

<div class="alert" role="alert" [class.alert-danger]="classe.value == 'alert-danger'">
  Perigo</div>

<div class="alert-danger" role="alert" [style.display]="classe.value == 'alert-danger' ? 'block' :  'none'">
  Texto aparece em caso de Perigo!</div>


<section class="event-binding">

  <article>
    <h3>Event Binding</h3>
    <div>

      <button class="btn btn-primary" (click)="botaoClicado()"> Me Clique! </button>

      <br><br>

      <input type="text"
        (keyup)="onKeyUp($event)"
        (keyup.enter)="salvarValor(campoInput.value)"
        (blur)="salvarValor(campoInput.value)"
        #campoInput>
        <p>Valor atual: {{ valorAtual }}</p>
          <br> 
        <p>salvo: {{ valorSalvo }}</p>
        <span
        (mouseover)="onMouseOverOut()"
        (mouseout)="onMouseOverOut()"
        [class.highlight]= "isMouseOver"
        >
          Passe o mouse por cima
        </span>
        

    </div>
  </article>

</section>

<div>
  <p> Meu nome é {{ pessoa.nome }} eu tenho {{ pessoa.idade }} anos.</p>
  <input type="text" [(ngModel)]="pessoa.nome">
  <input type="text" [(ngModel)]="pessoa.idade">


</div>

<section>
  <article>
    <h3>Input/Output Properties</h3>
    <app-input-property [nome]="nomeDoCurso"></app-input-property>
  </article>
</section> -->

<app-contador></app-contador>
