<p>Ola mundo</p>
<div>
    <button class="btn btn-danger" (click)="subitrai()">-</button>
    <input type="text" [value]="valor" readonly>
    <button class="btn btn-primary" (click)="adiciona()">+</button>
</div>